* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", serif;
}

.bg {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #35322e, #d5d3ca);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

h2 {
    position: absolute;
    top: 150px;
    color: beige;
    font-size: 40px;
    text-shadow: 5px 5px 10px black;
}

.clock {
    width: 350px;
    height: 350px;
    background-color: #8B888D;
    border-radius: 50%;
    box-shadow: -5px 5px 25px black;
    position: relative;
}

p {
    font-size: 45px;
    font-weight: 300;
    color: #f8e075;
    text-shadow: 2px 2px 5px black;
}

.h12 {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -0%);
}

.h3 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

.h6 {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -0%);
}

.h9 {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(50%, -50%);
}

.hour {
    width: 5px;
    height: 135px;
    background-color: #fffbd5;
    box-shadow: 2px 2px 8px black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: 50% 77%;
    transform: translate(-50%, -77%) rotate(45deg);
}

.mint {
    width: 5px;
    height: 175px;
    background-color: #fffbd5;
    box-shadow: -2px 2px 8px black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: 50% 82%;
    transform: translate(-50%, -82%) rotate(0deg);
}

.scnd {
    width: 2px;
    height: 175px;
    background-color: #fffbd5;
    box-shadow: -2px 2px 8px black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: 50% 82%;
    transform: translate(-50%, -82%) rotate(45deg);
}

.point {
    width: 5px;
    height: 5px;
    background-color: rgb(255, 183, 0);
    border-radius: 50%;
    box-shadow: 0px 0px 5px black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h5 {
    font-size: 10px;
    color: #ddd;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
}